In [1]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Chu7zpah/Sourcecode-Handwriting-Analysis/master/CSVResult/Final_ABCDEFGH.csv")
print(df)

      inline_NO_brace  inline_YES_brace  ...  YES_binary_YES  Programmer
0                   0                 0  ...              27           A
1                   1                 0  ...               6           A
2                   1                 0  ...               6           A
3                   0                 0  ...              12           A
4                   0                 0  ...               0           A
...               ...               ...  ...             ...         ...
1244                0                 0  ...              54           H
1245                0                 0  ...              38           H
1246                0                 9  ...              29           H
1247                0                 0  ...               5           H
1248                0                 0  ...              31           H

[1249 rows x 15 columns]

In [2]:
df.head()

   inline_NO_brace  inline_YES_brace  ...  YES_binary_YES  Programmer
0                0                 0  ...              27           A
1                1                 0  ...               6           A
2                1                 0  ...               6           A
3                0                 0  ...              12           A
4                0                 0  ...               0           A

[5 rows x 15 columns]

In [3]:
df.dtypes

inline_NO_brace                int64
inline_YES_brace               int64
nextline_brace                 int64
double_backslash_NO_Space      int64
double_backslash_YES_Space     int64
single_backslash_asterisk      int64
NO_parenthesis                 int64
YES_parenthesis                int64
unary_NO_space                 int64
unary_YES_space                int64
NO_binary_NO                   int64
NO_binary_YES                  int64
YES_binary_NO                  int64
YES_binary_YES                 int64
Programmer                    object
dtype: object

In [4]:
df.describe()

       inline_NO_brace  inline_YES_brace  ...  YES_binary_NO  YES_binary_YES
count      1249.000000       1249.000000  ...    1249.000000     1249.000000
mean          1.237790         28.436349  ...      33.589271      205.014412
std          29.049311        158.722300  ...      69.524958     1081.229764
min           0.000000          0.000000  ...       0.000000        0.000000
25%           0.000000          1.000000  ...       3.000000       13.000000
50%           0.000000          5.000000  ...       9.000000       43.000000
75%           0.000000         20.000000  ...      29.000000      133.000000
max        1024.000000       5172.000000  ...     781.000000    36059.000000

[8 rows x 14 columns]

In [5]:
# Separate Feature & Label
data = df.drop(columns=['Programmer'])
label = df['Programmer']

In [6]:
# Construct Train & Test Set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, label, test_size= 0.2)

In [7]:
# Model 1. Logistic Regression
from sklearn.linear_model import LogisticRegression

lr_ovr = LogisticRegression(multi_class='ovr', max_iter=1000)
lr_ovr.fit(X_train, y_train)
print(lr_ovr.score(X_train, y_train))
print(lr_ovr.score(X_test, y_test))

lr_multinomial = LogisticRegression(multi_class='multinomial', max_iter=1000)
lr_multinomial.fit(X_train, y_train)
print(lr_multinomial.score(X_train, y_train))
print(lr_multinomial.score(X_test, y_test))

0.7297297297297297
0.66
0.7627627627627628
0.696

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [8]:
# Model 2. Perceptron
from sklearn.linear_model import Perceptron

ppn = Perceptron(max_iter=1000)
ppn.fit(X_train, y_train)

print("[Perceptron Training Scroe]")
print(ppn.score(X_train, y_train))

print("[Perceptron Test Scroe]")
print(ppn.score(X_test, y_test))

[Perceptron Training Scroe]
0.4594594594594595
[Perceptron Test Scroe]
0.412

In [9]:
# Model 3. Decision Tree
from sklearn import tree
tr = tree.DecisionTreeClassifier()
tr.fit(X_train, y_train)

print("[Decision Tree Training Scroe]")
print(tr.score(X_train, y_train))

print("[Decision Tree Testing Score]")
print(tr.score(X_test, y_test))

[Decision Tree Training Scroe]
1.0
[Decision Tree Testing Score]
0.736

In [10]:
# Model 4. KNN
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

print("[KNN Training Scroe]")
print(knn.score(X_train, y_train))

print("[KNN Testing Score]")
print(knn.score(X_test, y_test))

[KNN Training Scroe]
0.7877877877877878
[KNN Testing Score]
0.668

In [11]:
# Model 5-1. Gaussian Naive Bayesian
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train)

print("[GNB Training Scroe]")
print(gnb.score(X_train, y_train))

print("[GNB Testing Score]")
print(gnb.score(X_test, y_test))

[GNB Training Scroe]
0.5465465465465466
[GNB Testing Score]
0.492

In [12]:
# Model 5-2. Multinominal Naive Bayesian
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
mnb.fit(X_train, y_train)

print("[MNB Training Scroe]")
print(mnb.score(X_train, y_train))

print("[MNB Testing Score]")
print(mnb.score(X_test, y_test))

[MNB Training Scroe]
0.5945945945945946
[MNB Testing Score]
0.592

In [13]:
# Model 5-3. Bernoulli Naive Bayesian
from sklearn.naive_bayes import BernoulliNB

bnb = BernoulliNB()
bnb.fit(X_train, y_train)

print("[BNB Training Scroe]")
print(bnb.score(X_train, y_train))

print("[BNB Testing Score]")
print(bnb.score(X_test, y_test))

[BNB Training Scroe]
0.7057057057057057
[BNB Testing Score]
0.668

In [14]:
# Model 6. Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

print("[RFC Training Scroe]")
print(rfc.score(X_train, y_train))

print("[RFC Testing Score]")
print(rfc.score(X_test, y_test))

[RFC Training Scroe]
1.0
[RFC Testing Score]
0.82

In [15]:
# Model 7. Extension of Binary Classifier - OneVsOne, OneVsRest(=OneVsAll)
from sklearn.multiclass import OneVsOneClassifier
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC

ovo = OneVsOneClassifier(SVC())
ovr = OneVsRestClassifier(SVC())

ovo.fit(X_train, y_train)
print(ovo.score(X_train, y_train))
print(ovo.score(X_test, y_test))

ovr.fit(X_train, y_train)
print(ovr.score(X_train, y_train))
print(ovr.score(X_test, y_test))

print(len(ovo.estimators_))
print(len(ovr.estimators_))

0.47147147147147145
0.484
0.6296296296296297
0.62
28
8

In [16]:
# Model 8. MLP (Multi Layer Perceptron)
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=1000)
mlp.fit(X_train, y_train)

print("[MLP Training Scroe]")
print(mlp.score(X_train, y_train))

print("[MLP Test Scroe]")
print(mlp.score(X_test, y_test))

[MLP Training Scroe]
0.9159159159159159
[MLP Test Scroe]
0.78